
div.entry {
    display: table-row;
    border-collapse: collapse;
}

div.meta {
    display: table-cell;
    width: 60px;
}

img.avatar {
    display: inline;
    vertical-align: top; 
}

div.entrybody { 
    display: table-cell;

}


