@import "/static/vendor/bootstrap/lib/bootstrap.less";

div.entry {
    /* border-collapse: collapse; */
    width: 100%;

    &[state='edit'] { 
        border: 1px solid #ddd;
        padding: 4px;
        /*margin: 4px 4px 20px 20px;*/
        .border-radius(4px);
        .box-shadow(0 1px 1px rgba(0,0,0,.075));
        .right-body { 
            padding : 4px 0px 4px 0px; 
        }
    }
    
    
    &[entry-class='text'] { 
        input { 
            margin : 2px 0px 2px 0px; 
        }
        span.cke_skin_kama { 
            margin : 4px 0px 4px 0px; 
            
        }
        textarea.textbody { 
            display: none; 
            
        }
        
    }
    .entry-body { 
        width: 100%;
        .meta { 
            display: table-cell;
            width: 60px;
        }
        
        .right-body { 
            width: 95%;
            display: table-cell;
        }
        
        .control {
            font-size: 11px;
        /* background-color: @grayLighter; */
        }
        
    }

    &[entry-class='figure'] {
        ::-webkit-input-placeholder {
            color:    #999;
        }
        :-moz-placeholder {
            color:    #999;
        }

        ul.images { 
            .clearfix(); 
            margin: 0; 
            li { 
                display: table-cell; //inline;
                float : left; 
                margin : 4px 4px 0px 0px; 
            }

            div.imagecontainer { 
                display: inline-block; 
                position: relative; 
                width: auto; 
                border: 1px solid #ddd;
                padding: 6px;
                border: 1px solid #ddd;

                .border-radius(7px);
                .box-shadow(0 1px 1px rgba(0,0,0,.075));
                img {

                    margin-left:auto;
                    margin-right:auto;
                    display: block;
                }

                input[type='number'] {
                    width : 50px;
                }
                textarea  {
                    margin-left:auto;
                    margin-right:auto;                    
                    resize: none;
                    width : 95%; 
                }
                span.remove { 
                    float: right; 
                    font-size: large; 
                }
            }

        }
        
    }

}

div.entry:not([page-hidden]) {
        a.unhide {
            display: none;
        }
        a.hide {
            display: inline;
        }

    }

div.entry[page-hidden] {
        a.unhide {
            display: inline;
        }

        a.hide {
            display: none;
        }
    }

img.avatar {
    display: inline;
    vertical-align: top; 
}




.hovertarget {
    visibility: hidden;
}

.hovertargetvisible {
    visibility : visible;

}

#pagetitleinput {
           width : 140px; 
}

span.pagelist {
    .meta { 
        font-size: 10px; 
    }
}

table.pagelist td
{
     padding: 3px 3px 3px;

}

div.entry.hidden
{
    display:none

}

.pagetitle {
    div.edit {
        display: hidden;
    }
}

ul.tagit input[type='text']  {
    outline: none; 
    border : none;
    box-shadow: none;
}


span.label {
    text-transform: none
}

ul.userlist  {
    li { 
    list-style : none; 

        padding: 5px 14px 6px;
        text-shadow: 0 1px 1px rgba(255,255,255,.75);
        color: #333;
        font-size: @basefont;
        line-height: normal;
        border: 1px solid #ccc;
        .border-radius(3px); 
        @shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
        .box-shadow(@shadow);

        .btn { 
            float: right
        }
    }
}

.users {
    float : right;

}
