<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}



    <script type="text/javascript" src="/static/vendor/jquery-1.6.2.js"></script>    
    <script type="text/javascript" src="/static/vendor/difflib.js"></script> 
    <script type="text/javascript" src="/static/vendor/underscore.js"></script> 
    <script type="text/javascript" src="/static/difftest.js"></script>    

    {% block javascript_includes %} 
    {% endblock %}

    <title>{% block title %}{% endblock %} - Mementa</title>


    {% endblock %}
</head>
<body>


</body>
</html> 


