<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}


    <script type="text/javascript" src="/static/vendor/jquery-1.6.2.js"></script>    
    <script type="text/javascript" src="/static/vendor/jquery.toggleEdit.js"></script> 
    <script type="text/javascript" src="/static/vendor/underscore.js"></script> 
    <script type="text/javascript" src="/static/vendor/jquery.mustache.js"></script> 
    <script type="text/javascript" src="/static/vendor/difflib.js"></script> 
    <script type="text/javascript" src="/static/vendor/json2.js"></script>  
    <script type="text/javascript" src="/static/vendor/jquery.cuteTime.min.js"></script>  


    <script type="text/javascript" src="/static/vendor/jquery.textchange.js"></script>

    <script type="text/javascript" src="/static/vendor/jquery.hoverIntent.minified.js"></script>

    <link rel="stylesheet/less" type="text/css" href="/static/vendor/bootstrap/bootstrap.less">
    <link rel="stylesheet/less" type="text/css" href="/static/mementa.less">

    <script type="text/javascript" src="/static/vendor/less-1.1.3.min.js"></script

    <script type="text/javascript" src="/static/mementa.js"></script> 
    <script type="text/javascript">
      
      $("body").live("click", function (e) {
      $('a.menu').parent("li").removeClass("open");
      });
      
      $("a.menu").live('click', function (e) {
      var $li = $(this).parent("li").toggleClass('open');
      return false;
      });


    </script>
    {% block javascript_includes %} 
    {% endblock %}

    <title>{% block title %}{% endblock %} - Mementa</title>

    {% endblock %}
</head>
<body style='padding-top: 40px;'>

{% block body %}

    <div class="topbar"> 
      <div class="fill"> 
        <div class="container"> 
          <h3><a href="#">Mementa</a></h3> 
          <ul> 
            <li class="active"><a href="/">Home</a></li> 
            <li><a href="/pages">All Pages</a></li> 
            <li><a href="/entries">All Entries</a></li> 
            <li><a href="/page/new">New Page</a></li> 
          </ul> 
          <form action=""> 
            <input type="text" placeholder="Search" /> 
          </form> 
          <ul class="nav secondary-nav"> 
            <li> <img src="http://www.gravatar.com/avatar/0bb5021786650564e05f288bd9d1c99b.jpg?s=32">  </li>
            <li class="menu"> 
              <a href="#" class="menu">{{session['name']}}</a> 
              <ul class="menu-dropdown"> 
                <li><a href="/settings">User Profile</a></li> 
                <li><a href="#">Help</a></li> 
                <li class="divider"></li> 
                <li><a href="/logout">Logout</a></li> 
              </ul> 
            </li> 
          </ul> 
        </div> 
      </div><!-- /fill --> 
    </div><!-- /topbar --> 

  <div id="content">{% block content %}{% endblock %}</div>
  <hr> 
  
  {% block bodywithtoolbar %}
  {% endblock %}
  
{%endblock%}  
</body>

</html>
