<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}

    <script type="text/javascript" src="/static/vendor/jquery-1.6.2.js"></script>    
    <script type="text/javascript" src="/static/vendor/jquery.layout-latest.js"></script>    
    <script type="text/javascript" src="/static/vendor/jquery.mustache.js"></script>    

    {% block javascript_includes %} 
    {% endblock %}

    <title>{% block title %}{% endblock %} - Mementa</title>


    {% endblock %}
</head>
<body>
  <div id="header"> 
    [Home] [<a href="/pages">pages </a>] [<a href="/entries">entries </a>] [Settings] Logged in as : Foo@bar.com  Search <input type="text" />
  </div> 
  <div id="content">{% block content %}{% endblock %}</div>
  <hr> 
  
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2011 by <a href="http://domain.invalid/">Mementa</a>.
    {% endblock %}
  </div>
  
  
</body>

</html>
