{% extends "mementa.html" %}

{% block javascript_includes %}
<script src="/static/vendor/jquery.typewatch.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">

  var CURRENT_NOTEBOOK = "{{notebook.name}}"; 
</script> 

<script type="text/javascript" src="/static/notebooksettings.js"></script>    


{% endblock %}
{% block title %} Notebook settings for {{notebook.name}} {% endblock %}
{% block content %} 

<div class="container">

  <H1> Settings for <span id="name">{{notebook.name}}</span></h1>

  <div class="row">
    <div class="span7">
      <form>
        <fieldset>
          <legend>Notebook Settings</legend>
          <div class="clearfix">
            <label for="xlInput">Notebook Title</label>
            <div class="input">
              <input class="xlarge" id="title" name="title" size="30" type="text"  />
            </div>
          </div><!-- /clearfix -->

          <div class="actions">
            <input id="save_changes" type="submit" class="btn primary" value="Save changes">&nbsp;
          </div>
        </fieldset>
      </form>
    </div>
    <div class="span7 offset1">
      <h2> Authors </h2>
      <ul id="userlist" class="userlist"> 
      </ul>       
      
      <h4> Add an author</h4>

      <div class="input">
        <input class="xlarge" id="xlInput3" name="usersearch" size="30" type="serach" /> 
      </div>
      <ul id="suggested_users" class="userlist">  
        
      </ul>
    </div>
  </div><!-- /row -->

</div>

{% endblock %}
