<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}



    <script type="text/javascript">
      var page_entries_canonical = {{page_docs_ids_json | safe}}; 
      var page_entry = {'_id' : "{{page_entry._id}}", 
                        'head' : "{{page_entry.head.id}}"};

    </script> 

    <script type="text/javascript" src="/static/vendor/jquery-1.6.2.js"></script>    
    <script type="text/javascript" src="/static/vendor/jquery.layout-latest.js"></script> 
    <script type="text/javascript" src="/static/vendor/jquery.toggleEdit.js"></script> 
    <script type="text/javascript" src="/static/vendor/underscore.js"></script> 
    <script type="text/javascript" src="/static/vendor/jquery.mustache.js"></script> 
    <script type="text/javascript" src="/static/page.js"></script>    


    {% block javascript_includes %} 
    {% endblock %}

    <title>{% block title %}{% endblock %} - Mementa</title>


    {% endblock %}
</head>
<body>

<div id="entry_side" class="ui-layout-center"> 
  <div id="entries" >
    
  </div>
  <hr>
  <button id="button_add_entry_text"> Add Text Entry </button> 
  <button id="button_add_entry_figure"> Add Figure Entry </button> 
  <button id="button_add_entry_github"> Add Github Entry </button> 
</div> 

<div id="control" class="ui-layout-west" > 

  <input id="pagetitle" value="{{page_head_revision.title}}" initvalue="{{page_head_revision.title}}"/>
  EntryID : {{page_entry._id}} <br>
  Head : {{page_entry.head}} <br>

  <a href="foo" id="debuglink">DEbug click </a>
</div> 

</body>
</html> 

