{% extends "mementa.html" %}

{% block javascript_includes %}

<script type="text/javascript">
  var init_page_rev = {{page_rev_json | safe }}
  var init_page_entry = {{page_entry_json | safe}}
  
</script> 

<script type="text/javascript" src="/static/vendor/tiny_mce/tiny_mce.js"> </script>
<script type="text/javascript" src="/static/vendor/tiny_mce/jquery.tinymce.js"> </script>

<script type="text/javascript" src="/static/render.js"></script>    
<script type="text/javascript" src="/static/page.js"></script>    
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

{% endblock %}

{% block body %}

<div id="entry_side" class="ui-layout-center"> 
  <div id="entries" >
    
  </div>
  <hr>
  <button id="button_add_entry_text"> Add Text Entry </button> 
  <button id="button_add_entry_figure"> Add Figure Entry </button> 
  <button id="button_add_entry_github"> Add Github Entry </button> 
</div> 

<div id="control" class="ui-layout-west" > 

  <input id="pagetitle" value="{{page_rev_json.title}}" initvalue="{{page_rev_json.title}}"/>
  EntryID : <span id="page_entry_id"> {{page_entry_json._id}} </span><br>
  Head : <span id="page_head"> {{page_entry_json.head}} </span> <br>

  <hr>
  <a href="#" id="new_page"> Create New Page </a>

  <hr>
  <a href="/pages"> All Pages </a> <br>

  <a href="#" id="debuglink">DEbug click </a>

</div> 
{% endblock %}

