{% extends "mementa.html" %}

{% block javascript_includes %}

<script type="text/javascript">
  var init_page_rev = {{page_rev_json | safe }}
  var init_page_entry = {{page_entry_json | safe}}
  
</script> 

<script type="text/javascript" src="/static/vendor/tiny_mce/tiny_mce.js"> </script>
<script type="text/javascript" src="/static/vendor/tiny_mce/jquery.tinymce.js"> </script>

<script type="text/javascript" src="/static/render.js"></script>    
<script type="text/javascript" src="/static/page.js"></script>    
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>


{% endblock %}

{% block bodywithtoolbar %}




<div class="container-fluid"> 
  
  <div id="control" class="sidebar" style="position:fixed"> 
    
    <div id='pagetitle'> 
      <div class='view'> 
        <h1 id='page_title_view'>{{page_rev.title}}</h1>
      </div>  
      <div class='edit'>
        <h1 id='page_title_edit' contentEditable >{{page_rev.title}}</h1>

        <button id="page_title_save" class='btn primary'>save </button> 
        <button id="page_title_cancel" class='btn'> cancel </button>
      </div> 
      <div class='hovering view'> 
        <a href="#" id="editpagetitle" class='hovertarget'> edit title</a>
      </div>
    </div>
    

    Modified : <span id="page_date"> date and time </span> <br>
    

    <div class="page-header"> 
      <h3>Recent </h3>
    </div> 
    
    <ul class="tabs"> 
      <li class="active"><a href="#">Entries</a></li> 
      <li><a href="#">Pages</a></li> 
    </ul> 
    
    
  </div> 
  
  <div id="entry_side" class="content"> 
    <div id="entries" >
      
    </div>
    <hr>
   <div class="well" style="padding: 14px 19px;">
     Add : 
     <button class="btn" id="button_add_entry_text"> Text Entry </button> 
     <button class="btn" id="button_add_entry_figure"> Figure Entry </button> 
     <button class="btn" id="button_add_entry_github"> Github Entry </button> 
     <button class="btn" id="button_add_entry_github"> Citation Entry </button> 
     <button class="btn" id="button_add_entry_existing">Existing Entry </button> 

     
   </div> 

  </div> 
</div>

{% endblock %}

